html, body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8vh 92vh;
      grid-template-rows: 8vh 92vh;
}

.grid-item-1 {
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
}

.grid-item-2 {
  background-color: #000000;
  position: relative;
}

.nav-icon-background {
  width: 11vw;
  height: 6vh;
  background-color: #EDC530;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.logo {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: medium;
  color: #EDC530;
  font-size: 6.0vw;
  font-weight: 500px;
}

.scan-button {
  width: 274px;
  height: 50px;
  border-radius: 14px;
  background-color: #EDC530;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.scan-button-text {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #181818;
  font-weight: 500;
}

.scan-button-parent {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #181818;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #EDC530;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Roboto', sans-serif;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.img img {
  width: 100vw;
  height: 90vh;
}

a {
  text-decoration: none;
}

.balance {
  width: 60%;
  height: 40px;
  background-color: #EDC530;
  border-radius: 5px;
  position: absolute;
  top: 82%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.balance p {
  margin: 0;
  padding: 0;
  margin: 0  auto;
  text-align: center;
  color: #181818 !important;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
/*# sourceMappingURL=home.css.map */