.login{
    /* border: solid blue; */
}
.container {
  background-color: #202020;
  height: 90vh;
  width: 95vw;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 1em;
  border-radius: 7px;
  position: relative;
}
.divheader {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: solid white;
  position: absolute;
  top: -60px;
  left: 130px;
  right: 130px;
}
.hcimg {
  height: 120px;
  width: 120px;
  display: block;
  border-radius: 50%;
}
#formm {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5%;
  left: 25px;
  right: 25px;
  width: 330px;
}
#formm form label {
  font-family: "Poppins", sans-serif;
  color: white;
}
#formm form input[type="number"] {
    height: 28px;
    width: 75vw;
    border: solid #EDC530;
    background-color: #C4C4C4;
  }
  #formm form input[type="tel"] {
    height: 28px;
    width: 75vw;
    border: solid #EDC530;
    background-color: #C4C4C4;
  }
#formm form input[type="text"] {
  height: 28px;
  width: 75vw;
  border: solid #EDC530;
  background-color: #C4C4C4;
}
#formm form input[type="password"] {
  height: 28px;
  width: 75vw;
  border: solid #EDC530;
  background-color: #C4C4C4;
}
#formm form ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}
#submit {
  height: 54px;
  width: 170px;
  border-radius: 5px;
  background-color: #EDC530;
  margin: 0 auto;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #131417;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}
.label {
  height: 49px;
  width: 330px;
}
.submitt {
    border-radius: 5px;
  height: 54px;
  width: 170px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50% , 50%);
}
.msg {
  position: absolute;
  top: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  left: 5px;
  right: 6.5px;
}
label[for=radio] {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-left: 0.3em;
  font-size: 0.8rem;
}
input[type="radio"] {
  border: solid #EDC530;
  background-color: #C4C4C4;
}
.a {
  text-decoration: none;
  color: #6A6A6A;
}
.a p {
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
.or {
  position: absolute;
  top: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  left: 6.5px;
  right: 6.5px;
}
.or h5 {
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.6em;
}
.Signup {
  position: absolute;
  top: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  left: 6.5px;
  right: 6.5px;
  cursor: pointer;
}
.aa {
  text-decoration: none;
  color: #EDC530;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
.aa p {
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
.btn{
    /* font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0; */
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
   
}

.scan-button{
    width: 75vw;
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 5px;
}

.bank-button{
    width: 75vw;
    margin-top: 7px;
    margin-left: 0px;
    border-radius: 5px;
    height: 40px;
    justify-content: space-between;
     padding-left: 5px;
     padding-right: 5px;
}

a{
    text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  // bottom: 10%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background-color: #EDC530;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  width: 75vw;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Poppins", sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #b6910b}

/* Show the dropdown menu on hover */
#dd:hover{
  .dropdown-content {
    display: block;
  }
} 

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.show{
  display: block;
}