.balance
{
    width: 80%;
    height: 40px;
    background-color: #EDC530;
    border-radius: 5px;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    p{
        top: 47% !important;
        width: fit-content;
        color: #181818 !important;
        font-weight: bold;
       
    }
}