<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/register.css" />
    <link rel="stylesheet" href="../static/css/ammount.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <title>HashMine</title>
  </head>
  <body>
    <!-- side nav start -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <a href="/">Home</a>
      <a href="/register">Register</a>
      <a href="/camera">Camera</a>
    </div>
    <!-- side nav end -->

    <div class="grid-container">
      <div class="grid-item grid-item-1">
        <div class="nav-icon-background" onclick="openNav()">
          <ion-icon style="font-size: 40px" name="menu-outline"></ion-icon>
        </div>
        <a href="/"> <p class="logo">HashMine</p></a>

        <div class="nav-icon-background">
          <ion-icon style="font-size: 40px" name="person-outline"></ion-icon>
        </div>
      </div>
      <div class="grid-item grid-item-2">
        <div class="amount">
          <div class="amount-inner">
            <img src="../static/images/ether.png" alt="" />

            <p>Enter Amount</p>
            <p class="small-p"><span id="s"></span> Ether Coins</p>
            <ul id="amount-ul">
              <li>
                <form  id="myForm" action="/makePayment" method="POST">
                <input
                  name="amount"
                  type="number"
                  id="ether"
                  placeholder="Ξ"
                  class="amount-input"
                  required
                /> 
               </form> <br /><br />
              </li>
            </ul>
          </div>
        </div>
        <div class="scan-button-parent">
          
            <div id="submitme" class="scan-button">
              <ion-icon style="font-size: 35px; color: #181818;" name="cash-outline"></ion-icon>
              <p class="scan-button-text">Make Payment</p>
            </div>
          
       
        </div>
      </div>
      <div class="grid-item grid-item-3"></div>
      <div class="grid-item grid-item-4"></div>
      <div class="grid-item grid-item-5"></div>
    </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/ammount.js"></script>
  </body>
</html>
